/* RESET */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    font-family: 'pt sans'
}

/* GENERAL */

/* 

COLORI

blu #0084FD
azzurro #B5DDFF
viola #9792E4
giallo #FDC05F
grigio chiaro #5A6D7E
grigio scuro #333333

*/

html {
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
}

.logo {
    cursor: pointer;
}

.pill-button {
    text-decoration: none;
    border: none;
    border-radius: 50px;
    padding: 5px 10px;
    color: black;
    background-color: white;
    cursor: pointer;
    display: inline-block;
}

.pill-button-blue {
    color: white;
    background-color: #0084FD;
    padding: 10px 50px;
}

.pill-button-violet {
    color: white;
    background-color: #9792E4;
}

.pill-button-white {
    color: #9792E4;
    background-color: white;
}

.container {
    max-width: 90%;
    margin: 0 auto;
    padding: 0 10px;
}

.myrow {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
}

.mycol {
    width: calc(100% - 20px);
    margin: 0 10px;
    margin-bottom: 10px;
}

/* 
HEADER 
*/

header {
    color: white;
    background-color: #0084FD;
    padding: 15px 0;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .menu {
    display: none;
}

header .burger-menu {
    font-size: 1.5rem;
    cursor: pointer;
}

header ul {
    list-style: none;
}

header ul li {
    display: inline-block;
}

header ul li a {
    display: inline-block;
    padding: 4px 8px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

/* 
MAIN 
*/

main section {
    padding: 40px 0;
}

/* 
intro 
*/

#intro .card {
    background-color: #B5DDFF;
    border-radius: 20px;
    padding: 30px;
    height: 100%;
}

.text-center {
    text-align: center;
}

#intro .mycol:first-child .card {
    padding-bottom: 0;
}

#intro .card div>* {
    margin-bottom: 20px;
}

#intro .card div.img-phone {
    display: flex;
    align-items: flex-end;
    margin-bottom: 0;
}

#intro .card .img-phone>* {
    margin-bottom: 0;
    max-width: 200px;
}

#intro .i-blu {
    font-size: 4rem;
    color: #0084FD;
}

#intro h2 {
    color: #0084FD;
}

#intro p {
    color: #5A6D7E;
    font-weight: bold;
}

/* 
planning
*/

#planning {
    background-color: #9792E4;
}

#planning .myrow .mycol {
    color: white;
}

#planning .mycol>* {
    margin-bottom: 30px;
}

#planning .card {
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 30px 30px 0 30px;
    height: 100%;
    text-align: center;
}

#planning .card p {
    font-style: italic;
}

#planning .card>* {
    margin-bottom: 30px;
}

#planning .img-planning1 {
    margin-bottom: 50px;
}

#planning .pill-button-violet {
    color: black;
    font-size: 1.3rem;
    padding: 10px 15px;
    margin-bottom: 0;
}

/* 
testimonial 
*/

#testimonials div .myrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #9792E4;
    color: white;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
}

#testimonials {
    text-align: center;
}

#testimonials .description-testimonials>* {
    margin-bottom: 30px;
}

#testimonials h2 {
    font-size: 2rem;
    color: #9792E4;
}

#testimonials .mycol {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#testimonials .mycol .foto-profilo {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 0 auto;
    overflow: hidden;
}

#testimonials .mycol .foto-profilo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#testimonials .feedback p:last-child {
    font-weight: bold;
    margin-top: 20px;
}

/* 
FOOTER 
*/

#footer-top,
#footer-bottom {
    color: white;
    text-align: center;
    padding: 30px;
}

#footer-top .footer-t-container>*,
#footer-bottom .footer-t-container>* {
    margin-bottom: 30px;
}

/* 
footer top 
*/

#footer-top h2 {
    font-size: 4rem;
    color: #FDC05F;
}

#footer-top {
    background-color: #9792E4;
}

#footer-top .false-title {
    font-size: 2rem;
    font-weight: bold;

}

#footer-top .pill-button-white {
    font-weight: bold;
    padding: 15px 60px;
}

#footer-top a {
    color: white;
    cursor: pointer;
}

/* 
footer bottom 
*/

#footer-bottom {
    background-color: #333333;
}

#footer-bottom a {
    color: #9792E4;
}

/*
-------------------------------
          RESPONSIVE
-------------------------------
*/

/* 

Brakpoints

576px mobile
768px tablet
992px desktop

*/

/* MOBILE FIRST */


/* 
TABLET 
*/

@media screen and (min-width: 576px) {

    /* heaader */

    header .menu {
        display: none;
    }

    /* main - intro */

    .mycol-1-3 {
        width: calc((100% / 3) - 20px);
    }

    .mycol-2-3 {
        width: calc(((100% / 3) *2) - 20px);
    }

    /* main - testimonials */

    #testimonials div .myrow {
        display: flex;
        flex-wrap: nowrap;
    }

    #testimonials .mycol {
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
        align-items: center;
    }

    #testimonials .mycol:first-child {
        width: 30%;
    }

    #testimonials .mycol:last-child {
        width: 70%;
    }

    /* footer */

    .footer-t-container {
        max-width: 60%;
        margin: 0 auto;
    }
}

/* 
DESKTOP 
*/

@media screen and (min-width: 992px) {

    /* heaader */

    header .burger-menu {
        display: none;
    }

    header .menu {
        display: block;
    }

    .desktop-container {
        max-width: 60%;
    }

    /* main - intro */

    .mycol-1-3 {
        width: calc((100% / 3) - 20px);
    }

    .mycol-2-3 {
        width: calc(((100% / 3) *2) - 20px);
    }

    .desktop-card {
        display: flex;
        justify-content: space-between;
    }

    #intro .desktop-card>.myrow {
        flex-wrap: nowrap;
    }

    /* main - planning */

    #planning .myrow {
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    #planning .planning-d-container {
        max-width: 50%;
    }

    #planning .img-planning2-d {
        max-width: 70%;
    }

    #planning .mycol:last-child {
        height: 60%;
    }

    #planning .pill-button-violet {
        margin-bottom: 30px;
    }

    /* footer */

    .footer-d-container {
        max-width: 30%;
        margin: 0 auto;
    }

}